{% extends 'base.html' %}
{% load static %}

{% block title%} About Vicky {% endblock title%}


{% block content%}
    <h1>All About Vicky</h1>
    <h3>Software developer w/master's degree in legal risk management and human resource compliance</h3>
    <div class="row">
        <img src="{% static 'img/pic.jpg'%}" style="width:100;">
    </div>
    <p>Hi, my name is Victoria W. I enjoy power-walking and meeting new people. </p>
    <p><a href="{% url 'home' %}"> Click here </a> to go the homepage</p>

{% endblock content %}